<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Panel administratora</title></head>
    <body>
	<div class="sidebar" style="float: left; background-color: gray; height: 100%; width: 160px; top: 0; left: 0;">
	<ul>
		<li><a href="/admin/posts">Posty</a></li>
		<li><a href="/admin/albums">Albumy</a></li>
		<li><a href="/admin/reviews">Recenzje</a></li>
		<li><a href="/admin/comments">Komentarze</a></li>
		<li><a href="/admin/settings">Ustawienia</a></li>
	</ul>
	</div>
	<div class="content" style="float: left;">
		<h1>Panel administratora</h1>
		<button>Dodaj post</button>
		<input type="text" value="Szukaj..."></input>
		<table>
		  <tr>
			<th>Tytuł</th>
			<th>Status</th>
			<th>Autor</th>
			<th>Liczba komentarzy</th>
			<th>Liczba wyświetleń</th>
			<th>Opublikowano</th>
		  </tr>
		  <tr>
			<td>
				<p>Nowa płyta Rae Sremmurd</p>
				<a href="/admin/posts">Podgląd</a>
				<a href="/admin/posts">Edytuj</a>
				<a href="/admin/posts">Usuń</a>
			</td>
			<td>Wersja robocza</td>
			<td>Bartosz Fabiański</td>
			<td>2</td>
			<td>12</td>
			<td>19.05.2018</td>
		  </tr>
		  <tr>
			<td>
				<p>Nowa płyta Rae Sremmurd</p>
				<a href="/admin/posts">Podgląd</a>
				<a href="/admin/posts">Edytuj</a>
				<a href="/admin/posts">Usuń</a>
			</td>
			<td>Wersja robocza</td>
			<td>Bartosz Fabiański</td>
			<td>2</td>
			<td>12</td>
			<td>19.05.2018</td>
		  </tr>
		  <tr>
			<td>
				<p>Nowa płyta Rae Sremmurd</p>
				<a href="/admin/posts">Podgląd</a>
				<a href="/admin/posts">Edytuj</a>
				<a href="/admin/posts">Usuń</a>			
			</td>
			<td>Wersja robocza</td>
			<td>Bartosz Fabiański</td>
			<td>2</td>
			<td>12</td>
			<td>19.05.2018</td>
		  </tr>
		</table>
	</div>
	</body>
</html>