<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Panel administratora</title></head>
    <body>
	<div class="sidebar" style="float: left; background-color: gray; height: 100%; width: 160px; top: 0; left: 0;">
	<ul>
		<li><a href="/admin">Panel</a></li>
		<li><a href="/admin/posts">Posty</a></li>
		<li><a href="/admin/albums">Albumy</a></li>
		<li><a href="/admin/reviews">Recenzje</a></li>
		<li><a href="/admin/comments">Komentarze</a></li>
		<li><a href="/admin/settings">Ustawienia</a></li>
	</ul>
	</div>
	<div class="content" style="float: left;">
	{% block content %}
	<h1>Panel</h1>
	<hr/>
	Wybierz jedną z sekcji po lewej stronie.
	{% endblock %}
	</div>
	</body>
</html>